<table class="table">
  <thead>
    <tr>
      <td>User Name</td>
      <td>Email</td>
      <td>Status</td>
      <td>Service</td>
      <td>Profession</td>
      <td>Edit</td>
    </tr>
  </thead>
  <tbody>
      <%= render @user %>
  <tbody>
</table>
